.main {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;

  justify-items: center;
}
.content-container {
  display: flex;
  margin: 20px;
}
.dataDiv {
  margin-left: 15px;
}
.titile {
  display: flex;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.imagesss {
  width: 300px;
  height: 200px;
  border-radius: var(--radius);
  border: 0.25rem solid var(--clr-gold);
}
#headings {
  text-transform: capitalize;
}
#pricess {
  color: var(--clr-gold);
}
